name: ci
on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: read
  issues: write         # hiding bot comments
  pull-requests: write  # hiding bot comments

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        try: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    uses: alpine-ros/alpine-ros-ci-workflows/.github/workflows/ros1.yaml@main
    with:
      enable-bot-comment: true
      bot-comment-api-base: "https://gh-bot.dev-sq.work"
      enable-codecov: true
    secrets:
      bot-comment-token: "b9ed4bd3-154f-4f5f-9722-412ef4c14446"
      codecov-upload-token: ${{ secrets.CODECOV_TOKEN }}
